
.home{
    width: 100%;
    height: 100%;
    background-image: url('../ankimg/book6.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  .topbar{
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }
  div.logo{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    justify-content: space-around;
    align-items: right;
    text-align: right;
  }

  div.mainpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
  }
  div.half{
    flex:1;
    justify-content: center;
    align-items: center;
  }
  .login{
    width: 10%;
    height: 40%;
    margin: 10px 0px;
    color: black;
    background-color: #77777728;
    border-radius: 8px;
    font-size: x-large;
  }
  .login:hover {
    background-color: #777; 
  }
  .button{
    width: 50%;
    padding: 5px;
    font-size: 30px;
    border: none;
    border-radius: 8px;
    margin: 0px 0px;
    color: black;
    background-color: #77777728;
  }
  .button:hover {
    background-color: #777; 
  }
  .underline {
    text-decoration: none;
  }
  /* .upperleft{
    position: below;
    width: 50%;
    height: 50%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  /* .upperright{
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  /*  */
  /* Style for the welcome message */
  /* h1.welcome {
    width:auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    font-style: "Lora", serif;
    font-size: 50px;
    margin: 10px 0px;
    color: rgb(245, 237, 220);
  } */
  
  /* Style for the buttons */
  /* .button {
    width:auto;
    height: auto;
    font-style: "Lora", serif;
    color: bisque;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none; 
  } */

  
  /* Style for button hover effect */
