body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/book3.jpg');

}
.userdetailspage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.userleftpage{
    width: 50%;
    background-color: rgb(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.user{
    color: white;
    font-size: 20px;
    margin: 10px;
}
.userWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchbutton{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.statusbutton{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}
.underline{
    text-decoration: none;
}

.fullpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.userstatusdetailspage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.userstatusleftpage{
    width: 50%;
    background-color: rgb(0,0,0,0.7);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.userstatus{
    color: white;
    font-size: 20px;
    margin: 10px;
}
.userstatusWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.userstatusContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textnote{
    color: white;
    font-size: 18px;
    text-decoration: underline;
}
.texts{
    color: white;
    font-size: 14px;
    text-align: center;
}
.notification{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: #e4ad07;
    color: white;
    cursor: pointer;
}
.notifications{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: #e4ad07;
    color: white;
    cursor: pointer;
}