/* Reset some basic elements */
/* Center title and links */
body {
    background-image: url('../back1.jpg');
    background-size: cover;

}
h1 {
    text-align: center;
    color: #b46306;
    padding-top: 30px;
    min-height: 70px;
    position: center;
    /* border-bottom: #e8491d 3px solid; */
}   
div.link {
    
    margin-left: 600px;
    margin-right: 600px;
    padding: 10px 20px;
    position: center;
    text-align: center;
    text-shadow: #dc810a 1px 1px 1px;
    text-decoration: none;
    color: #ffffff;
    background-color: #dc810a;
    border-radius: 5px;
}