/* // styles.css */
.TypeBooks {
  background-color: blue;
  color: white;
}
.Home button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
.Home{
    background-color: blue;
    color: white;
}

