*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:aliceblue;
  font-family: "Relaway", sans-serif;
  /* height: 100%; */
}

html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.app{
  height: 100%;
}




